body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black!important;
  padding: 0 40px 0 40px;
  /* color:#18ce2e */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "ProximaNova";
  src: local("ProximaNova"),
    url(./assets//font/ProximaNova-Light.woff) format("woff");
}
@font-face {
  font-family: "MedievalSharp";
  src: local("MedievalSharp"),
    url(./assets/font/medieval-sharp/webfonts/MedievalSharp.woff) format("woff");
}
@font-face {
  font-family: "Monument Extended";
  src: url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.eot");
  src: url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.svg#Monument Extended")
      format("svg");
}

.main-font{
  font-size: 17px;
  font-weight: 500;
}
.default-padding{
  padding: 0px 10px;
}
.content-format {
  background-color: #fff;
  padding: 50px 0 100px 0;
}

@media (max-width: 499px) {
  body {
    padding: 0 20px 0 20px;
  }
}